@import '@mdi/font/css/materialdesignicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

div.main a {
  font-weight: 500;
}

div.main a::before {
  content: "\F03CC  ";
  font: normal normal normal 18px/1 "Material Design Icons"
}

hi {
  font-variant: small-caps;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 25px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 25px;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}