@import '@mdi/font/css/materialdesignicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

div.main > div > div > div > div > div > p > a {
  font-weight: 500;
}

div.main > div > div > div > div > div > p > a::before {
  content: "\F03CC  ";
  font: normal normal normal 18px/1 "Material Design Icons"
}

hi {
  font-variant: small-caps;
}