@import '@mdi/font/css/materialdesignicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Libertinus - fetten Fonts von der ÖA ...arrgh */
@font-face {
  font-family: 'Libertinus';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  src: local(""), url("/fonts/libertinus/LibertinusSerifRegular.woff2") format("woff2");
}

@font-face {
  font-family: 'Libertinus';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/libertinus/LibertinusSerifItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Libertinus';
  font-style: normal;
  font-weight: bold;
  src: local(""), url("/fonts/libertinus/LibertinusSerifBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Libertinus';
  font-style: italic;
  font-weight: bold;
  src: local(""), url("/fonts/libertinus/LibertinusSerifBoldItalic.woff2") format("woff2");
}

/* fira-sans-100 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-100.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-100italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-100italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-100italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-200 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-200.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-200italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-200italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-200italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-300.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-300italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-300italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-regular.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-500.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-500italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-500italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-600 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-600.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-600italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-600italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-700.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-700italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-800 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-800.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-800italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-800italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-900italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-900italic.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-900 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/fira-sans/fira-sans-v11-latin-900.woff2") format("woff2"), url("/fonts/fira-sans/fira-sans-v11-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --FS-BODYTEXT: 18px;
  --FF-BODYTEXT: "Fira Sans";
  --FF-DISPLAY: "Fira Sans";
  --FF-TERMS: "Fira Sans";
}

html {
  scroll-behavior: smooth;
  font-size: var(--FS-BODYTEXT);
  font-weight: 300;
}

h1 {
  @apply text-3xl;
  margin: 10px 0 10px 0;
  font-family: var(--FF-DISPLAY);
  text-align: left;
}

h2 {
  @apply text-2xl;
  margin: 10px 0 10px 0;
  font-family: var(--FF-DISPLAY);
  text-align: left;
}

h3 {
  @apply text-xl;
  margin: 10px 0 10px 0;
  font-family: var(--FF-DISPLAY);
  text-align: left;
}

div.main {
  font-family: var(--FF-BODYTEXT);
}

div.main a {
  font-weight: 500;
}

div.main a::before {
  content: "\F0CE0  ";
  font: normal normal normal 18px/1 "Material Design Icons"
}

div.nolink a::before {
  content: none!important;
}


div.relink a::before {
  content: "\F0CE0  "!important;
}

div.caption {
  font-size: 0.8em;
  color: grey;
  margin-bottom: 10px;
  display: block;
}

div.more {
  font-size: 0.9em;
  color: black;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: rgb(238,238,238);
  padding: 10px;
}

div.exampleImg {
  width: 100%;
  border-width: 2px;
  padding: 2px;
}

div.exampleImg img{
  margin: auto;
  display: block;
}

.pos_highlight {
  background-color: #89e5a5;
  padding: 2px;
}

hi {
  font-variant: small-caps;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 25px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 25px;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}